a, a:visited{
    color: wheat;
}

body {
    background: url("/public/background_bg_clean_repeat.png");
    background-size: cover;
    background-repeat: repeat;
}

@font-face {
    font-family: 'AbstractGroovy';
    src: local('AbstractGroovy'),
        url('/public/aAbstractGroovy.woff') format('woff');
}

.name {
    font-family: AbstractGroovy;
    font-size: 115px;
    color: #4D3829;
    margin-top: 130px;
}

.card_title {
    font-family: AbstractGroovy;
    font-size: 25px;
    color: #4D3829;
    padding: 15px;
}

.skill_card_title {
    font-family: AbstractGroovy;
    font-size: 25px;
    color: #4D3829;
    text-align: center;
    padding: 15px;
}

.info-title {
    font-weight: bold;
    font-size: 15px;
    color: #4D3829;
    padding: 15px;
    margin-top: -30px;  
}

.list-info {
    font-size: 20px;
    padding: 5px;
    margin-top: -10px;
    text-align: center;
    list-style-type: none;
}