a, a:visited{
    color: wheat;
}

html {

    background: url("/public/background_bg_clean.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
  
.name {
    background-color: transparent;
    text-align: center;
    padding: 16px;
}

.about_me_text {
    height: 250px;
    width: 250px;
    background-color: #f2b643;
}
