/*+++++++++++++++++
Layout
++++++++++++++++++*/
.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto; /*default container that is reusable*/
}

.container-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media (min-width: 300px) {

    header {
        text-align: center;
    }
    
    .container-flex {
        flex-direction: column;
    }
}

header {

    background: whitesmoke;
    padding: 2em 0;
    margin-bottom: 2em;
    text-align:center;
}
